{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block content %}
    <div class="box center">
        <h1>{{ status_code }}</h1>
        {{ status_text|trans }}
    </div>

    <div class="clear"></div>
{% endblock %}
