services:
    sensiolabs.jobboard.form.type.job:
        class: SensioLabs\JobBoardBundle\Form\Type\JobType
        tags:
            - { name: form.type, alias: job }

    sensiolabs.jobboard.form.type.job_admin:
        class: SensioLabs\JobBoardBundle\Form\Type\JobAdminType
        tags:
            - { name: form.type, alias: job_admin }

    sensiolabs.jobboard.form.type.company:
        class: SensioLabs\JobBoardBundle\Form\Type\CompanyType
        arguments:
            - @doctrine.orm.entity_manager
        tags:
            - { name: form.type, alias: company }

    sensiolabs.jobboard.twig.extension:
        class: SensioLabs\JobBoardBundle\Twig\JobBoardExtension
        tags:
            - { name: twig.extension }

    sensiolabs.jobboard.security.voter.job_update:
        class: SensioLabs\JobBoardBundle\Security\Voter\JobVoter
        tags:
            - { name: security.voter }

    sensiolabs.jobboard.email_sender:
        class: SensioLabs\JobBoardBundle\EmailSender
        arguments:
            - @mailer
            - @twig
            - %mailer_app_sender%
            - %admin_email_address%
            - @?logger

    sensiolabs.jobboard.eventlistener.job:
        class: SensioLabs\JobBoardBundle\EventListener\JobListener
        arguments:
            - @sensiolabs.jobboard.email_sender
            - @sensiolabs.jobboard.doctrine.repository.job
        tags:
            - { name: 'kernel.event_subscriber' }

    sensiolabs.jobboard.doctrine.repository.job:
        class: SensioLabs\JobBoardBundle\Repository\JobRepository
        factory_service: doctrine
        factory_method: getRepository
        arguments:
            - SensioLabs\JobBoardBundle\Entity\Job

    sensiolabs.jobboard.doctrine.repository.user:
        class: SensioLabs\JobBoardBundle\Repository\UserRepository
        factory_service: doctrine
        factory_method: getRepository
        arguments:
            - SensioLabs\JobBoardBundle\Entity\User

    sensiolabs.jobboard.eventlistener.interactive_login:
        class: SensioLabs\JobBoardBundle\EventListener\SecurityInteractiveLoginListener
        arguments:
            - @doctrine.orm.entity_manager
            - %admin_connect_uuid%
        tags:
            - { name: 'kernel.event_subscriber' }

    sensiolabs.jobboard.logger.processor.exception:
        class: SensioLabs\JobBoardBundle\Logger\Processor\ExceptionProcessor
        arguments:
            - @sensiolabs.jobboard.email_sender
        tags:
            - { name: 'monolog.processor' }
