{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% form_theme form 'SensioLabsJobBoardBundle:Form:forms.html.twig' %}

{% block page_class 'add' %}
{% block title 'Post a job'|trans %}

{% block content %}
    {{ breadcrumb({('Post a job'|trans): path('job_post')}) }}

    <div class="box" style="padding-bottom:15px">
        {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
    </div>

    <div class="clear"></div>
{% endblock %}
