{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% form_theme form 'SensioLabsJobBoardBundle:Form:forms.html.twig' %}

{% block title 'Backend - Edit' %}

{% block content %}
    {{ breadcrumb({
        ('Backend'|trans): path('backend_list'),
        ('Make changes on \'%job_title%\' announcement'|trans({'%job_title%': job.title})): null,
    }) }}

    <div class="box" style="padding-bottom:15px">
        {{ form(form, {attr: {novalidate: 'novalidate'}, isUpdate: true}) }}
    </div>

    <div class="clear"></div>
{% endblock %}
