{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% form_theme form 'SensioLabsJobBoardBundle:Form:forms.html.twig' %}

{% block title 'Backend - Edit' %}

{% block content %}
    {{ breadcrumb({
        'Backend': path('backend_list'),
        'Make changes on \'Developper\' announcement': null,
    }) }}

    <div class="box" style="padding-bottom:15px">
        {{ form(form, {attr: {novalidate: 'novalidate'}, isUpdate: true}) }}
    </div>

    <div class="clear"></div>
{% endblock %}
